/******************************** START GLOBAL STYLE ********************************/

/******************************** END GLOBAL STYLE ********************************/

/******************************** START TEMPLATE STYLE ********************************/
/* HEADER */
.AFBrandingBarTitle{background-color: #186EBE;}
.AFBrandingBarItem{background-color: #186EBE; height:75px; font-size: 110%; color:#FFFFFF; font-family: Arial, Helvetica, sans-serif;}
.Header {background-color: #186EBE;}
.HeaderLogo{width:160px;}
.HeaderTitle{font-size: 200%; color:#FFFFFF; font-family: Arial, Helvetica, sans-serif;}
.h1{font-size: 180% }

/* GENERIC NAVIGATIONPANE BAR - FOR MAIN NAV AND FIRST NAV*/

af|navigationPane-buttons::separator-icon-style{background-image: none;}

/* MAIN NAV - style: navigationPane-bar */
.mainNav{font-family: Tahoma, Arial, Helvetica, sans-serif; font-stretch: wider; font-size: 150%; background-color: #186EBE;}
.mainNav_item{width: 120px; height: 40px; text-align: center; color:#FFFFFF; padding-top: 3px}
.mainNav_item:hover{background-color: #F1F1F1; color:#000000}
.mainNav_item:selected {background-color: #FFFFFF; color:#000000; width: 140px}
.mainNav af|navigationPane-bar::separator-icon-style{background-image: none;}

/* FIRST NAV - style: navigationPane-bar */
.firstNav {font-family: Arial, Helvetica, sans-serif; font-stretch: wider; font-size: 150%; background-color: #FFFFFF*; margin-top: 5px; border: 5px; margin-left: 5px}
.firstNav_item {height: 25px; text-align: center; padding-left: 4px; padding-right: 4px; padding-top: 4px;}
.firstNav_item:selected {color:#186EBE; background-color: #D3EEFE}
.firstNav_item:hover{background-color: #FFFFFF; color:#000000}

/* SECOND NAV - style: navigationPane-buttons */
af|navigationPane-buttons {
  font-size: 135%;
  font-stretch: wider;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  margin-left: 5px;
  font-style: italic;
}
af|navigationPane-buttons::link{padding-left: 4px; padding-right: 4px; padding-top: 4px; height: 30px;}
af|navigationPane-buttons::link:hover{background-color: #F1F1F1; }
af|navigationPane-buttons::link:selected{background-color: #186EBE; color:#FFFFFF; }

/******************************** END TEMPLATE STYLE ********************************/

/******************************** START LOGIN PAGE STYLE ********************************/

/* LOGIN PAGE */
.text-frame {background-color: #FFFFFF;}
.text-frame-inner{border: 1px}

.loginTitle {padding:5px;
  font-size: 200%;
  font-stretch: wider;
  font-family: Arial, Helvetica, sans-serif; }
.loginButton {padding:5px;
  font-size: 120%;
  font-stretch: wider;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color:#186EBE;
  display:block;
  width:200px;
  }
.loginButton:hover {padding:5px;
  font-size: 120%;
  font-stretch: wider;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color:#95CCEC;
  display:block;
  width:200px;
  }

/******************************** END LOGIN PAGE STYLE ********************************/

/******************************** START CONTENT STYLE ********************************/

/* GLOBAL SETTING*/
.AFDefaultFontFamily:alias {font-family: Arial, Helvetica, sans-serif;}
.AFLabel:alias { color: #000000; font-size: 140%; font-stretch: wider; padding: 5px;}
.AFLabelDisabled:alias { color: #000000; font-size: 140%; font-stretch: wider; padding: 5px;}
af|commandLink {font-size: 120%; font-stretch: wider; padding: 5px;} /* Hyperlinks */

/* TABLES */
.AFTableCellPadding:alias{padding: 2px}
.AFTableCellData:alias{padding: 2px}
/*
af|column::column-header-cell {background-color: #95CCEC; border:none; text-align: left; font-stretch: wider; font-size: 140%; color:#FFFFFF ;}
af|column::data-cell {border-width: 1px ; font-stretch: wider; font-size: 120%; color:#000000;}
af|column::banded-data-cell {border-width: 1px ; font-stretch: wider; font-size: 120%; color:#000000;}
af|table::data-row:selected af|column::data-cell {background-color:LightYellow; font-weight: bold; }*/

af|column::column-header-cell{font-stretch: wider; font-size: 140%; }
af|table::data-row:selected af|column::data-cell {background-color:LightYellow; font-weight: bold; }

/* FORMS */
.AFPanelFormLayoutContentCell {font-size: 120%; font-stretch: wider; padding: 5px} /* Form input fields */
af|panelFormLayout {border: none; margin: 10px}
af|panelFormLayout::label-cell {text-align: left; font-stretch: wider; padding: 5px}

/* Input Fields */
af|inputListOfValues{ -tr-stretch-search-dialog: false;font-stretch: wider; font-family: Arial, Helvetica, sans-serif; }
af|inputListOfValues::content{background-color: #EEF8FE; font-size: 120%; border: none; width: 200px; padding: 5px}
af|selectOneChoice::content{background-color: #EEF8FE; font-size: 110%; border: none; width: 250px; padding: 5px}
af|inputNumberSpinbox::content{background-color: #EEF8FE; font-size: 120%; border: none; width: 200px; padding: 5px}
af|inputDate::content{background-color: #EEF8FE; font-size: 120%; border: none; width: 200px; padding: 5px}
af|inputText::content{background-color: #EEF8FE; font-size: 120%; border: none; width: 200px; padding: 5px}

af|query::criterion-label { text-align : left;}

/* Specific Disabled Fields */
af|inputListOfValues:disabled::content {color: #000000; background-color: #F2F2F2; font-stretch: wider; font-size: 120%; width: 200px;}
af|selectOneChoice:disabled::content {color: #000000; background-color: #F2F2F2; font-stretch: wider; font-size: 120%; width: 200px;}
af|inputDate:disabled::content {color: #000000; background-color: #F2F2F2; font-stretch: wider; font-size: 120%; width: 200px;}
af|inputText:disabled::content {color: #000000; background-color: #F2F2F2; font-stretch: wider; font-size: 120%; width: 200px;}

/* BUTTONS */
/* Add Remove - other commandButton i.e search/reset */
.AFButtonBackground:alias{border: 0px; 
    background-image: none; background-color: #186EBE; width: 150px; margin: 5px;
    color: #FFFFFF; font-size: 120%; font-family: Arial, Helvetica, sans-serif; }

/* Action Options Buttons - other add / remove */
af|commandToolbarButton {background-image: none; background-color: #186EBE; width: 150px; margin: 5px; text-align: center;}
af|commandToolbarButton::text{border: 0px; 
    background-image: none; background-color: #186EBE; 
    color: #FFFFFF; font-size: 120%; font-family: Arial, Helvetica, sans-serif; width: 110px; text-align: center;}
af|commandToolbarButton::text:hover{background-color: #69B0EA}
    
/* PANEL TAB */
/* Each tab always consist of 3 sections: start, content, end */
af|panelTabbed::tab{background-color: #69B0EA; }
af|panelTabbed::tab-start {background-image:none; padding-left: 5px; padding-right: 5px; }
af|panelTabbed::tab-end {background-image:none;  padding-left: 5px; padding-right: 5px; }
af|panelTabbed::tab-content {background-image:none;  padding-left: 5px; padding-right: 5px;}
af|panelTabbed::tab af|panelTabbed::tab-text-link{font-size: 120%; font-family: Arial, Helvetica, sans-serif;} 

/* Selected Tab*/
af|panelTabbed::tab.p_AFSelected af|panelTabbed::tab-start, af|panelTabbed::tab.p_AFSelected:hover af|panelTabbed::tab-start
{
background-color: #FFFFFF; background-image:none;  padding-left: 5px; padding-right: 5px; 
}
af|panelTabbed::tab.p_AFSelected af|panelTabbed::tab-content, af|panelTabbed::tab.p_AFSelected:hover af|panelTabbed::tab-content
{
background-color: #FFFFFF; background-image:none;  padding-left: 5px; padding-right: 5px
}
af|panelTabbed::tab.p_AFSelected af|panelTabbed::tab-end, af|panelTabbed::tab.p_AFSelected:hover af|panelTabbed::tab-end
{
background-color: #FFFFFF; background-image:none;  padding-left: 5px; padding-right: 5px
}

/*Global Message*/
af|message { color: #000000;  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%; font-weight: bold; font-stretch: wider;}

/* Containers */
af|panelStretchLayout {background-color: #FFFFFF;}
af|panelGroupLayout {background-color: #FFFFFF;}


/******************************** END CONTENT STYLE ********************************/

